*

!.editorconfig

!C++/
C++/*
!C++/*.sublime-build
!C++/Snippets/

!C#/
C#/*
!C#/Snippets/

!CMake
CMake/*
!CMake/Snippets/

!CSS
CSS/*
!CSS/Snippets/

!D/
D/*
!D/*.sublime-build
!D/Snippets/

!EditorConfig/

!HTML/
HTML/*
!HTML/Snippets/

!Makefile/
Makefile/*
!Makefile/*.sublime-settings
!Makefile/*.sublime-build

!Markdown/
Markdown/*
!Markdown/Snippets/

!Rust/

!User/
User/Package Control.cache/
User/encoding_cache.json
User/oscrypto-ca-bundle.crt
User/*.sublime-license
User/*.last-run
User/*.merged-ca-bundle
User/*.user-ca-bundle
User/*.oscrypto-ca-bundle

!User/Macros/
User/Macros/*
!User/Macros/*.sublime-macro

.DS_Store
